.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #f3d9b3;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft{
    flex: 3;
}

.logo {
    font-family: tamoha;
    font-size: 50px;
    margin-left: 20px;
    font-weight: bold;
    color: #bd9351;
    text-shadow: -2px 0cap #695c4c;
    cursor: pointer;
  }
  
  .topbarCenter {
    flex: 5;
  }
  
  .searchbar {
    font-family: tamoha;
    width: 100%;
    height: 30px;
    font-weight: bold;
    background-color: #fffaf1;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    font-family: tamoha;
    background-color: #fffaf1;
    color: #bd9351;
    font-weight: bold;
    border: none;
    width: 70%;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #bd9351;
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px #bd9351;
    cursor: pointer;
  }



  .signoutItem{
    color: #bd9351;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    height: 28px;
  }

  .signoutItem:hover{
    color: white;
    background-color: #9a6e61;
  }

  .signoutIcon{
    margin-left: 5px;
    margin-right: 5px;
  }

  .signoutText{
    font-weight: bold;
  }

